<!DOCTYPE html>
<html ng-app = "sortApp">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="style.css" />
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
	</head>
	<body ng-app="sortApp">
		<!-- MODAL -->
		<div>
		  <script type="text/ng-template" id="modal-form.html"> 
			<div class="modal-header">
				<h3>Add A New User</h3>
			</div>
			<form name="form.userForm" ng-submit="submitForm()" novalidate>
				<div class="modal-body">
					<!-- NAME -->
					<div class="form-group">
						<label>Name</label>
						<input type="text" name="name" class="form-control" ng-model="user.name" required>
						<p ng-show="form.userForm.name.$error.required">name is required</p>
					</div>
					<!-- USERNAME-->
					<div class="form-group">
						<label>Username</label>
					<input type="text" name="username" class="form-control" ng-model="user.username" ng-change="verifyDuplicate('username','')" required>
						<p ng-show="form.userForm.username.$error.duplicate">username is taken</p>
						<p ng-show="form.userForm.username.$error.required">username is required</p>
					</div>
					<!-- EMAIL -->
					<div class="form-group">
						<label>Email</label>
						<input type="text" name="email" class="form-control" ng-model="user.email" ng-change="verifyDuplicate('email','')" required>
						<p ng-show="form.userForm.email.$error.duplicate">email is taken</p>
						<p ng-show="form.userForm.email.$error.required">email is required</p>
					</div>
					<!-- Address -->
					<div class="form-group">
							<h4>Address</h4>
							<label>Street</label>
							<input type="text" name="street" class="form-control" ng-model="user.address.street">
							<label>Suite</label>
							<input type="text" name="suite" class="form-control" ng-model="user.address.suite">
							<label>City</label>
							<input type="text" name="city" class="form-control" ng-model="user.address.city">
							<label>Zipcode</label>
							<input type="text" name="zipcode" class="form-control" ng-model="user.address.zipcode">
							<label>Geo lat</label>
							<input type="text" name="lat" class="form-control" ng-model="user.address.geo.lat">
							<label>Geo lng</label>
							<input type="text" name="lng" class="form-control" ng-model="user.address.geo.lng">
					</div>
					<!--Phone -->
					<div class="form-group">
						<label>Phone</label>
						<input type="text" name="phone" class="form-control" ng-model="user.phone" ng-pattern="/^\([0-9]{3}\)[0-9]{3}-[0-9]{4}$/">
						<p ng-show="form.userForm.phone.$error.pattern">Enter phone number in (xxx)xxx-xxxx format</p>
					</div>
					<!--Website -->
					<div class="form-group">
						<label>website</label>
						<input type="text" name="website" class="form-control" ng-model="user.website" ng-pattern="/[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/">
						<p ng-show="form.userForm.website.$error.pattern">Enter website in website.domain format</p>
					</div>
					<!--Company -->
					<div class="form-group">
							<h4>Company</h4>
							<label>Company Name</label>
							<input type="text" name="company" class="form-control" ng-model="user.company.name" ng-change="verifyDuplicate('company','name')"  required>
							<p ng-show="form.userForm.company.$error.duplicate">company name is taken</p>
						    <p ng-show="form.userForm.company.$error.required">company name is required</p>
					</div>
					<div class="form-group">
							<label>CatchPhrase</label>
							<input type="text" name="catchPhrase" class="form-control" ng-model="user.company.catchPhrase">
							<label>bs</label>
							<input type="text" name="bs" class="form-control" ng-model="user.company.bs">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid">OK</button>
					<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
				</div>
			</form>
	  </script>
		<div class="container">
			<div class="col-sm-8">
				<div ng-controller="modalAccountFormController">
					<div class="page-body">
						<button class="btn btn-primary" ng-click="showForm()">Add New User</button>
					</div>
				</div>
				</br>
			</div>
		</div>
	</div>
	<!-- MAIN CONTROLLER -->
		<div class="container" ng-controller="mainController">
		  <form>
		  	<div class="form-group col-xs-2">
				<label>Select search field</label>
				<select class="form-control" ng-model="searchName" >
					<option value="name">Name</option>
					<option value="username">User Name</option>
					<option value="email">Email</option>
				</select>
			</div>
			<div class="form-group col-xs-4">
			<label>Enter search item</label>
			  <div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input type="text" class="form-control" ng-model="search[searchName]">
			  </div>      
			</div>
		  </form>
		  <table class="table table-bordered table-striped">		
			<thead>
			  <tr>
				<td rowspan="2">
					<p">
					ID
				  </p>
				</td>
				<td rowspan="2">
				  <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
					Name 
					<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
				  </a>
				</td>
				<td rowspan="2">
				  <a href="#" ng-click="sortType = 'username'; sortReverse = !sortReverse">
				  User Name 
					<span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
				  </a>
				</td>
				<td rowspan="2">
				  <a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">
				  Email 
					<span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
				  </a>
				</td>
				<td colspan="5">
				  <p>
				  Address 
				  </p>
				</td>
				<td rowspan="2">
				  <p>
					Phone number
				  </p>
				</td>
				<td rowspan="2">
				  <p>
					Website
				  </p>
				</td>
				<td colspan="3">
				  <p>
				  Company 
				  </p>
				</td>
			  </tr>
			  <tr>
				<td>
				  <a href="#" ng-click="sortType = 'address.street'; sortReverse = !sortReverse">
					Street 
					<span ng-show="sortType == 'address.street' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'address.street' && sortReverse" class="fa fa-caret-up"></span>
				  </a>
				</td>
				<td>
				  <p>
					Suite 
				  </p>
				</td>
				<td>
				  <p>
					City 
				  </p>
				</td>
				<td>
				  <p>
					Zip Code 
				  </p>
				</td>
				<td>
				  <p>
					Geo 
				  </p>
				</td>
				<td>
				  <a href="#" ng-click="sortType = 'company.name'; sortReverse = !sortReverse">
					Name 
					<span ng-show="sortType == 'company.name' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'company.name' && sortReverse" class="fa fa-caret-up"></span>
				  </a>
				</td>
				<td>
				  <p>
					CatchPhrase 
				  </p>
				</td>
				<td>
				  <p>
					BS 
				  </p>
				</td>
			  </tr>
			</thead>
			
			<tbody>
			  <tr ng-repeat="record in names | orderBy:sortType:sortReverse | filter:search">
				<td>{{ record.id }}</td>
				<td>{{ record.name }}</td>
				<td>{{ record.username }}</td>
				<td>{{ record.email }}</td>
				<td>{{ record.address.street }}</td>
				<td>{{ record.address.suite }}</td>
				<td>{{ record.address.city }}</td>
				<td>{{ record.address.zipcode }}</td>
				<td>{{ (record.distance).toFixed(0)}} km</td>
				<td>{{ record.phone}}</td>
				<td>{{ record.website}}</td>
				<td>{{ record.company.name }}</td>
				<td>{{ record.company.catchPhrase}}</td>
				<td>{{ record.company.bs}}</td>
			  </tr>
			</tbody>			
		  </table>
		</div>
	</body>
</html>
	
